RewriteEngine On

IndexIgnore *

RewriteRule ^install/(.*)$ Install/$1.php [L]

RewriteRule ^/assets/(.*)$ assets/$1
RewriteRule ^assets/(.*)$ assets/$1 [L]

RewriteRule ^(.*)$ index.php [L]

# Error Documents
ErrorDocument 401 /Error/401
ErrorDocument 403 /Error/403
ErrorDocument 404 /Error/404
ErrorDocument 500 /Error/500
